body{
    text-align: center;
    background-color: #cdddcd;
  }
  p{
    margin-left: 60px;
    margin-right: 60px;
  }
div{
  font-size: large;
  font-family:'sans-serif', 'arial';
  width: 75%;
  height:80%;
  background-color: rgb(189, 212, 189);
  margin: 50px auto;
  box-shadow: 5px 5px 5px rgb(153, 161, 149);
}
#btnTopo {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}
.botao-compartilhar {
  display: inline-block;
  margin: 5px;
  padding: 10px 15px;
  background-color: #788a7a;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 .barra-navegacao {
  background-color:rgb(140, 160, 135);
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.item-menu {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  width: 100%;
}
.item-menu:hover {
  background-color: #555;
}
nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:rgb(140, 160, 135);
}
li {
  float: left;
  width: 25%;
}