.barra-navegacao {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:rgb(140, 160, 135);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .item-menu {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 22%;
  }
  .item-menu:hover {
    background-color: #555;
  }
body{
    text-align: center;
    background-color: #cdddcd;
}
p{
    margin-left: 60px;
    margin-right: 60px;
  }
div{
  font-size: large;
  font-family:'sans-serif', 'arial';
  width: 75%;
  height:80%;
  background-color: rgb(189, 212, 189);
  margin: 50px auto;
  box-shadow: 5px 5px 5px rgb(153, 161, 149);
}