<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="shortcut icon" type="imagex/jpg" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='contato.css')}}">
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/mais">Mais</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>
</head>
<body>
    <div>
        <br />
        <h1>Contato</h1>
        <p>Email: martinsmajed@gmail.com</p>
        <p>GitHub: eduardomartins2</p>
        <p>Telefone: (55)3212345678 </p>
        <br />
    </div>
</body>
</html>