<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/script/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="shortcut icon" type="imagex/jpg" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='contato.css')}}">
    <nav class="barra-navegacao">
        <li><a class="item-menu" href="/">Inicio</a></li>
        <li><a class="item-menu" href="/mais">Mais</a></li>
        <li><a class="item-menu" href="/contato">Contato</a></li>
        <li><a class="item-menu" href="/sobre">Sobre</a></li>
</nav>
</head>
<body>
    <div>
        <br />
        <h1>Contato</h1>
        <p>Email: martinsmajed@gmail.com</p>
        <p><a class="link" href="https://github.com/eduardomartins2">GitHub: eduardomartins2</a></p>
        <p><a class="link" href="https://www.linkedin.com/in/eduardomartins2/">Linkedin: eduardomartins2</a></p>
        <p>Telefone: (55)3212345678 </p>
        <br />
    </div>
</body>
</html>