<!DOCTYPE html>
<html lang="en">
<head>
    <script>
         window.onscroll = function() {
          tornarBarraNavegacaoFixa();
        };
        
        var barraNavegacao = document.querySelector(".barra-navegacao");
        
        var posicaoInicial = barraNavegacao.offsetTop;
        
        function tornarBarraNavegacaoFixa() {
          if (window.pageYOffset >= posicaoInicial) {
            barraNavegacao.style.position = "fixed";
            barraNavegacao.style.top = "0";
          } else {
            barraNavegacao.style.position = "relative";
          }
        }
        window.onscroll = function() {
          mostrarOcultarBotao();
        };
        
        function mostrarOcultarBotao() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("btnTopo").style.display = "block";
          } else {
            document.getElementById("btnTopo").style.display = "none";
          }
        }
        function voltarAoTopo() {
          document.documentElement.scrollTop = 0;
        }
        function compartilharFacebook() {
            window.open("https://www.facebook.com/sharer/sharer.php?u=" + encodeURIComponent(window.location));
        }

        function compartilharTwitter() {
            window.open("https://twitter.com/intent/tweet?text=" + encodeURIComponent("Confira este site: " + window.location));
        }

        function compartilharLinkedIn() {
            window.open("https://www.linkedin.com/shareArticle?mini=true&url=" + encodeURIComponent(window.location));
        }
        function compartilharWhatsApp() {
            var textoCompartilhado = "Confira este site: " + window.location;
            var urlWhatsApp = "https://api.whatsapp.com/send?text=" + encodeURIComponent(textoCompartilhado);
            window.open(urlWhatsApp);
        }
        </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melhores Jogos de PS2</title>
    <link rel="shortcut icon" type="imagex/jpg" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <nav class="barra-navegacao">
            <li><a class="item-menu" href="/">Inicio</a></li>
            <li><a class="item-menu" href="/">Martins</a></li>
            <li><a class="item-menu" href="/contato">Contato</a></li>
            <li><a class="item-menu" href="/contato">Sobre</a></li>
    </nav>
</head>
<body>
    <div class="re4">
        <h1>Resident Evil 4</h1>
        <p>Resident Evil 4 chegou em 2005 correndo um grande risco de modificar a fórmula que, até então,<br />
             vinha funcionando na franquia da Capcom. O estilo de survival horror, com o terror sendo<br /> explorado
              ao extremo e recursos baixíssimos, obrigando o jogador a saber economizá-los, foi deixado <br />
              um pouco de lado com o intuito de criar o espaço para a introdução de mais elementos de ação.</p>
        
        <img src="http://127.0.0.1:5000/static/img/re4.jpg"
            alt="Resident Evil 4"
            height="90%"
            width="50%"
        />
        <p>A história de Resident Evil 4 conta com o já conhecido Leon Kennedy como protagonista.<br/>
            Sua missão é viajar até uma vila na Espanha para salvar Ashley Graham, a filha do presidente<br/>
            dos Estados Unidos que foi sequestrada, enquanto luta contra as pessoas controladas pelo parasita<br/>
            Las Plagas. O enredo e todo o conjunto de Resident Evil 4 concederam a ele a nota 96 no Metacritic,<br/>
            e, não à toa, o game recebeu um remake em 2023.
        </p>
        <br/>
    </div>
    <div>
        <h1>God of War</h1>
        <p>
            franquia God of War se iniciou em 2005 e se tornou um dos principais nomes quando o assunto é Playstation.<br/>
            Desenvolvido pela Santa Monica Studio, o jogo conta a história de Kratos, um guerreiro espartano que se<br/>
            tornou servo de Ares, o Deus da Guerra na mitologia grega, para sobreviver e salvar a vida de seu exército.<br/>
            Então, após travar várias guerras a mando do líder, Kratos renunciou à promessa de servidão e jurou vingança<br/>
            depois que o Deus o fez assassinar sua própria família.
        </p>
        <img src="http://127.0.0.1:5000/static/img/gow1.jpg"
            alt="God of War"
            height="90%"
            width="50%"
        />
        <p>God of War mistura o estilo de ação e aventura com hack'n slash, destancado-se principalmente pelos gráficos<br/>
            excelentes com relação à época e o uso das Lâminas do Caos e outras poderosas armas pelo protagonista. Além<br/>
            disso, combates com altas doses de violência e um enredo muito interessante focado na mitologia grega <br/>
            são motivos pelos quais o título adquiriu uma legião de fãs. Sua nota no Metacritic é de 94.
        </p>
        <br/>
    </div>
    <div>
        <h1>Grand Theft Auto: San Andreas</h1>
        <p>
            GTA: San Andreas foi desenvolvido pela Rockstar Games e apareceu em 2004 para PlayStation 2 causando<br/>
            um verdadeiro alvoroço entre fãs da franquia e gamers de primeira viagem. Carl "CJ" Johnson é o<br/>
            protagonista do jogo, que precisa lidar com uma cidade que se encontra em seus piores momentos devido<br/>
            à uma guerra de gangues e corrupção. Nesse caminho, CJ é acusado de homicídio, levando-o a uma aventura<br/>
            por San Andreas para salvar sua família e tomar o controle das ruas.
        </p>
        <img src="http://127.0.0.1:5000/static/img/gtasa.jpg"
            alt="Grand Theft Auto: San Andreas"
            height="90%"
            width="50%"
        />
        <p>
            O jogo conta com visão em terceira pessoa e é focado em um estilo de ação e aventura com alguns<br/>
            elementos de RPG, como é possível observar na possibilidade de evoluir determinadas habilidades do<br/>
            protagonista. Ainda, a quantidade de conteúdo no game é gigantesca, rendendo horas de jogatina.<br/>
            Por essas e outras razões, o título foi muito aclamado pela crítica e pelo público, <br/>
            chegando à nota 95< no Metacritic.
        </p>
        <br/>
    </div>
    <div>
        <h1>Shadow of the Colossus</h1>
        <p>O misterioso Shadow of the Colossus não poderia faltar na lista. Lançado pela Team Ico em 2005, o jogo conta
            a história do jovem Wunder, que precisa encarar criaturas colossais para salvar sua amada. Diferentemente 
            de jogos mais tradicionais, nos quais é preciso encarar inimigos menores antes de chegar aos "chefes", 
            Shadow of the Colossus tem a proposta de fazer jogadores enfrentarem apenas as criaturas principais.
           </p>
        
        <img src="http://127.0.0.1:5000/static/img/sotc.jpg"
            alt="Shadow of the Colossus"
            height="90%"
            width="50%"
        />
        <p>Essa e outras inovações trazidas pelo game lhe renderam o título de "obrigatório para qualquer detentor 
            de PS2", atribuído tanto pela crítica especializada quanto pelos jogadores. Assim, embora tenha recebido 
            algumas reclamações em relação aos controles, à câmera e ao fator replay, os pontos positivos se 
            sobressaíram e renderam nota 91 no Metacritic.
        </p>
        <br/>
    </div>
    <div>
        <h1>Bully</h1>
        <p>"A pior escola dos Estados Unidos, cujos antigos alunos são traficantes de armas e serial killers, reúne 
            a verdadeira escória". É assim que o protagonista de Bully, James "Jimmy" Hopkins, define a Bullworth 
            Academy, o internato que seus pais o deixaram após ele ser expulso de sete escolas. Assim, no game, o 
            jogador controla Jimmy e precisa cumprir missões para obter respeito entre os grupos de alunos e assumir 
            o controle da escola.
            </p>
        
        <img src="http://127.0.0.1:5000/static/img/bully.jpg"
            alt="Bully"
            height="90%"
            width="50%"
        />
        <p>O game lançado em 2006 foi desenvolvido pela Rockstar Games, mesma criadora da franquia Grand Theft Auto. 
            Nesse sentido, é possível ver algumas similaridades na gameplay, embora Bully apareça como um jogo mais 
            simples e "um pouco menos polêmico" que GTA. Ainda assim, sua criatividade e variedade de conteúdo 
            ganharam muitos fãs no PlayStation 2, o que fez o jogo garantir nota 87 no Metacritic.
        </p>
        <br/>
    </div>
    <div>
        <h1>Tony Hawk's Pro Skater 3</h1>
        <p>O objetivo da maioria dos modos de jogo é atingir uma pontuação alta. Para fazer isso, o jogador tem que
             executar e combinar com sucesso vários tipos de manobras, essas que são aerials, flips, grinds, lips e 
             manuals, com execuções bem-sucedidas adicionadas à pontuação do jogador. O valor do ponto da manobra é 
             baseado no tempo mantido, grau de rotação, número de truques realizados em sequência, manobras em pontos 
             de referência específicos no mapa e o número de vezes que as manobras foram usadas.
            </p>
        
        <img src="http://127.0.0.1:5000/static/img/thps.jpg"
            alt="Tony Hawk's Pro Skater 3"
            height="90%"
            width="50%"
        />
        <p>O sistema do game é o mesmo de seus antecessores: você deve escolher um entre 13 dos maiores atletas da 
            atualidade e andar por diversas pistas ao redor do mundo realizando objetivos em um tempo pré-determinado 
            de dois minutos. Há também pistas específicas nas quais são realizados campeonatos. Nestas, o jogador deve 
            andar em três baterias de um minuto, obtendo uma média entre as notas de cada. Se a média for boa o 
            suficiente para colocá-lo entre os três primeiros na competição, você passa de fase. O que fez o jogo 
            garantir nota 97 no Metacritic.
        </p>
        <br/>
    </div>
    <a class="botao-compartilhar" onclick="compartilharWhatsApp()">WhatsApp</a>
    <a class="botao-compartilhar" onclick="compartilharFacebook()">Facebook</a>
    <a class="botao-compartilhar" onclick="compartilharTwitter()">Twitter</a>
    <a class="botao-compartilhar" onclick="compartilharLinkedIn()">LinkedIn</a>
</body>
<footer>
    <button onclick="voltarAoTopo()" id="btnTopo" title="Voltar ao Topo">Topo</button>
</footer>
</html>