<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melhores Jogos de PS2</title>
    <link rel="shortcut icon" type="imagex/jpg" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index.css')}}">
    <nav>
        <ul>
            <li><a href="default.asp">Home</a></li>
            <li><a href="news.asp">News</a></li>
            <li><a href="contact.asp">Contact</a></li>
            <li><a href="about.asp">About</a></li>
          </ul>
    </nav>
</head>
<body>
    <div class="re4">
        <h1>Resident Evil 4</h1>
        <p>Resident Evil 4 chegou em 2005 correndo um grande risco de modificar a fórmula que, até então,<br />
             vinha funcionando na franquia da Capcom. O estilo de survival horror, com o terror sendo<br /> explorado
              ao extremo e recursos baixíssimos, obrigando o jogador a saber economizá-los, foi deixado <br />
              um pouco de lado com o intuito de criar o espaço para a introdução de mais elementos de ação.</p>
        
        <img src="http://127.0.0.1:5000/static/img/re4.jpg"
            height="350"
            width="800"
        />
        <p>A história de Resident Evil 4 conta com o já conhecido Leon Kennedy como protagonista.<br/>
            Sua missão é viajar até uma vila na Espanha para salvar Ashley Graham, a filha do presidente<br/>
            dos Estados Unidos que foi sequestrada, enquanto luta contra as pessoas controladas pelo parasita<br/>
            Las Plagas. O enredo e todo o conjunto de Resident Evil 4 concederam a ele a nota 96 no Metacritic,<br/>
            e, não à toa, o game recebeu um remake em 2023.
        </p>
        <br/>
    </div>
    <div>
        <h1>God of War</h1>
        <p>
            franquia God of War se iniciou em 2005 e se tornou um dos principais nomes quando o assunto é Playstation.<br/>
            Desenvolvido pela Santa Monica Studio, o jogo conta a história de Kratos, um guerreiro espartano que se<br/>
            tornou servo de Ares, o Deus da Guerra na mitologia grega, para sobreviver e salvar a vida de seu exército.<br/>
            Então, após travar várias guerras a mando do líder, Kratos renunciou à promessa de servidão e jurou vingança<br/>
            depois que o Deus o fez assassinar sua própria família.
        </p>
        <img src="http://127.0.0.1:5000/static/img/gow1.jpg"
            height="350"
            width="800"
        />
        <p>God of War mistura o estilo de ação e aventura com hack'n slash, destancado-se principalmente pelos gráficos<br/>
            excelentes com relação à época e o uso das Lâminas do Caos e outras poderosas armas pelo protagonista. Além<br/>
            disso, combates com altas doses de violência e um enredo muito interessante focado na mitologia grega <br/>
            são motivos pelos quais o título adquiriu uma legião de fãs. Sua nota no Metacritic é de 94.
        </p>
        <br/>
    </div>
    <div>
        <h1>Grand Theft Auto: San Andreas</h1>
        <p>
            GTA: San Andreas foi desenvolvido pela Rockstar Games e apareceu em 2004 para PlayStation 2 causando<br/>
            um verdadeiro alvoroço entre fãs da franquia e gamers de primeira viagem. Carl "CJ" Johnson é o<br/>
            protagonista do jogo, que precisa lidar com uma cidade que se encontra em seus piores momentos devido<br/>
            à uma guerra de gangues e corrupção. Nesse caminho, CJ é acusado de homicídio, levando-o a uma aventura<br/>
            por San Andreas para salvar sua família e tomar o controle das ruas.
        </p>
        <img src="http://127.0.0.1:5000/static/img/gtasa.jpg"
            height="350"
            width="800"
        />
        <p>
            O jogo conta com visão em terceira pessoa e é focado em um estilo de ação e aventura com alguns<br/>
            elementos de RPG, como é possível observar na possibilidade de evoluir determinadas habilidades do<br/>
            protagonista. Ainda, a quantidade de conteúdo no game é gigantesca, rendendo horas de jogatina.<br/>
            Por essas e outras razões, o título foi muito aclamado pela crítica e pelo público, <br/>
            chegando à nota 95< no Metacritic.
        </p>
        <br/>
    </div>
</body>
<footer>
    <a href="/contatos">Contatos</a> 
</footer>
</html>