<!DOCTYPE html>
<html lang="en">
<head>
    <script src="static/script/script.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Melhores Jogos de PS2</title>
    <link rel="shortcut icon" type="imagex/jpg" href="/static/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style/style.css')}}">

    <nav class="barra-navegacao">
        <li><a class="item-menu" href="/">Inicio</a></li>
        <li><a class="item-menu" href="/referencia">Referência</a></li>
        <li><a class="item-menu" href="/contato">Contato</a></li>
        <li><a class="item-menu" href="/sobre">Sobre</a></li>
    </nav>
</head>
<body>
    <div>
        <br/>
        <h1>Referências</h1>
        <p><a class="link" href="https://www.techtudo.com.br/listas/2023/01/10-melhores-jogos-de-playstation-2-de-todos-os-tempos.ghtml" target="_blank">www.techtudo.com.br</a> </p>
        <p><a class="link" href="https://www.metacritic.com/game/" target="_blank">www.metacritic.com</a></p>
        <p><a class="link" href="https://pt.wikipedia.org/wiki/Lista_de_jogos_mais_vendidos_para_PlayStation_2" target="_blank">wikipedia.org</a></p>
        <br/>
    </div>
</body>
</html>